<div class="footer py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-6 col-md-3">
                <h5>Về chúng tôi</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home:about' %}">Giới thiệu</a></li>
                    <li><a href="{% url 'careers:apply' %}">Tuyển dụng</a></li>
                    <li><a href="{% url 'home:privacy' %}">Chính sách</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <h5>Hỗ trợ</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home:faq' %}">Câu hỏi thường gặp</a></li>
                    <li><a href="#">Vận chuyển</a></li>
                    <li><a href="#">Đổi trả</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <h5>Kết nối</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Zalo</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <h5>Liên hệ</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'support:submit' %}">Hỗ trợ khách hàng</a></li>
                    <li><a href="#">Chat trực tiếp</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom text-center mt-4 pt-4">
            <p>&copy; 2026 DevShop. Mọi quyền được bảo lưu.</p>
        </div>
    </div>
</div>
